
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">
        <a href="https://github.com/tomwanzek/d3-ng2-demo">{{title}}</a>
        </span>
    </div>
  </div>
</div>

<section class="upsBoxAnim">
  <div id="header">
        <div class="inner">
            <img src="/assets/img/header.jpg">
            <img src="/assets/img/logo.jpg" id="logo">
        </div>
    </div>
    <h1>What kind of packaging are you using?</h1>
    <h5>*Indicates a required field.</h5>
    <h2>Package Details</h2>
    <div class="toolWrapper">
        <div id="errorMsg"></div>
        <div class="userInput">
            <form name="myform">
                <ul>
                    <li class="packageType">
                        <label>Packaging Type*</label>
                        <select name="packagingType" defautl="1">
                            <option value="1">I have my own</option>
                            <option value="2">UPS Standard A</option>
                            <option value="3">UPS Standard B</option>
                        </select>
                    </li>
                    <li class="weightInput">
                        <label>Weight*</label>
                        <input type="number" id="myWeight" value="" maxlength=""  /> <!--oninput="changeWeight()"-->
                        <span>lbs</span>
                    </li>
                    <li class="lengthInput">
                        <label>Length</label>
                        <input type="number" id="myLength" value="" maxlength="" /> <!--oninput="changeItUp()"-->
                        <span>in</span>
                    </li>
                    <li class="widthInput">
                        <label>Width</label>
                        <input type="number" id="myWidth" value="" maxlength="" /> <!--oninput="changeItUp()"-->
                        <span>in</span>
                    </li>
                    <li class="heightInput">
                        <label>Height</label>
                        <input type="number" id="myHeight" value="" maxlength=""  /> <!--oninput="changeItUp()"-->
                        <span>in</span>
                    </li>
                    <li class="valueInput">
                        <label>Declared Value</label>
                        <a href="#">Help</a>
                        <img src="/assets/img/helpIcon.png" class="helpIcon">
                        <input type="number" id="myWidth" value="" maxlength=""  /> <!--oninput="changeItUp()"-->
                        <span>USD</span>
                    </li>
                    <li class="viewOptions">
                        <label>View additional options?</label>
                        <!-- Rounded switch -->
                        <label class="switch">
                            <input type="checkbox">
                            <div class="slider round">
                                <span id="no">No</span>
                                <span id="yes">Yes</span>
                            </div>
                        </label>
                    </li>
                </ul>
            </form>
        </div>
        <div class="boxAnim">
            <div class="info icon">
                <img src="/assets/img/exclamationIcon.png" />
                <p>Providing weight and dimensions will give you a more accurate rate.</p>
            </div>
            <svg id="svgWrap">
               <!--  <defs>
                    <filter id="f1" x="0" y="0" width="100%" height="100%">
                        <feOffset result="offOut" in="SourceAlpha" dx="3" dy="7" />
                        <feGaussianBlur result="blurOut" in="offOut" stdDeviation="5" />
                        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                    </filter>
                    <filter id="f2" x="0" y="0" width="100%" height="100%">
                        <feOffset result="offOut" in="SourceAlpha" dx="2" dy="7" />
                        <feGaussianBlur result="blurOut" in="offOut" stdDeviation="7" />
                        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                    </filter>
                </defs> -->
            </svg>
            <span id="widthLabel" class="wrap dynamicLabels">W</span>
            <span id="lengthLabel" class="wrap dynamicLabels">L</span>
            <span id="heightLabel" class="wrap dynamicLabels">H</span>
            <div class="measurements">
                <ul>
                    <li class="weight">
                        <label>WEIGHT:</label>
                        <span class="dynamicWrap">
                            <span id="weightAmt" class="dynamicAmt">-</span><span class="measureType">lbs</span>
                        </span>
                    </li>
                    <li class="width">
                        <label>WIDTH:</label>
                        <span class="dynamicWrap">
                            <span id="widthAmt" class="dynamicAmt">-</span><span class="measureType">in</span>
                        </span>
                    </li>
                    <li class="height">
                        <label>HEIGHT:</label>
                        <span class="dynamicWrap">
                            <span id="lengthAmt" class="dynamicAmt">-</span><span class="measureType">in</span>
                        </span>
                    </li>
                    <li class="length">
                        <label>LENGTH:</label>
                        <span class="dynamicWrap">
                            <span id="heightAmt" class="dynamicAmt">-</span><span class="measureType">in</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="didYouKnow">
            <img class="icon" src="/assets/img/shipTipIcon.png" />
            <p><span class="bold">Ship Tip:</span> Did you know you can reduce cost by using certain materials?</p>
            <img src="assets/img/arrowIcon.png" class="arrow" />
        </div>
      </div>
</section>



<div class="container-fluid">

  <div class="jumbotron">
    <h1>Reusable Visual Power?</h1>
    <h3><em>Fuse D3 and Angular in TypeScript (A Demo)</em></h3>
    <br>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1">
        <h4>Perfect Storm</h4>
        <div class="text-justify">
          <p>
            Ever wondered, how to build modern web apps with reusable, interactive data visualization components?
          </p>
          <p>
            The latest incarnation of <b>D3</b> is getting you excited about new destinations.
          </p>
          <p>
            <b>Angular 2</b> arrived on the tarmac and has since been rolled into a stable release management cycle.
          </p>
          <p>
            <b>TypeScript</b> has become the fuel that lets you develop complex solutions at scale.
          </p>
          <p>
            Integrating all three, however, seems as daunting as taking off in the perfect storm.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- insert images -->
        <img src="assets/d3-ng2-demo-screenshots.png" class="img-responsive" />
      </div>
      <div class="col-lg-3">
        <h4>Take Flight</h4>
        <div class="text-justify">
          <p>
            This Angular demo app and its source code repository are intended to get you started. Rather than trying to be exhaustive
            or writing a lengthy blog post, a select few well-known D3 demo scripts have been adapted to highlight key considerations.
          </p>
          <p>
            Use an Angular Service to inject the power of D3 version 4 into a project.
          </p>
          <p>
            Explore how D3 visualizations can be implemented as Angular components in TypeScript 2.
          </p>
          <p>
            See how a visualization component can change in response to input data changes.
          </p>
          <p>
            Find ways to unit test your D3 components with Karma/Jasmine and check out a worked example end-to-end test using Protractor.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

<app-wrapper-brush-zoom-2></app-wrapper-brush-zoom-2>
<app-wrapper-drag-zoom-2></app-wrapper-drag-zoom-2>
<app-wrapper-voronoi-spirals-3></app-wrapper-voronoi-spirals-3>

<footer class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <h3>Source Code Resources for this App</h3>
        <div class="well">

          <a href="https://github.com/tomwanzek/d3-ng2-demo">Demo App Github Repo</a><br>
          <a href="https://github.com/tomwanzek/d3-ng2-service">D3Service Github Repo</a>
        </div>
      </div>
      <div class="col-lg-4">
        <h3>D3 Resources</h3>
        <div class="well">

          <a href="https://d3js.org/">D3 Data Driven Documents (Official Website)</a><br>
          <a href="https://github.com/d3/d3">D3 on Github</a><br>
          <a href="https://bl.ocks.org/mbostock">Mike Bostock's D3 Blocks</a><br>
        </div>
      </div>
      <div class="col-lg-4">
        <h3>Angular Resources</h3>
        <div class="well">
          <a href="https://angular.io/">Angular</a><br>
          <a href="https://github.com/angular/angular-cli/">Angular CLI</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-lg-12">
      <p>
        Copyright &copy; 2017 Thomas Wanzek.
      </p>
      <p>
        <em>Released under MIT License. For details see:</em>
        <a href="https://github.com/tomwanzek/d3-ng2-demo/tree/master/LICENSE.txt">https://github.com/tomwanzek/d3-ng2-demo/tree/master/LICENSE</a>
      </p>
    </div>
  </div>
</footer>
